/vendor/
composer.lock
instances/example/templates/_smarty/compile/0c49956352bc6543f51d6eae19ee7bdb62deb0b6_0.file.headers.tpl.php
instances/example/templates/_smarty/compile/111e1ac0b5a8b64119a44d30be3a584117549a8c_0.file.findi18n.tpl.php
instances/example/templates/_smarty/compile/39224bb9a691c9e7df143aa96894d5db461f9db9_0.file.404.tpl.php
instances/example/templates/_smarty/compile/5b5a8216f1f1965ac2a23dd8d2632c402b8cb2eb_0.file.log_messages.tpl.php
instances/example/templates/_smarty/compile/6ff01f88d3a4e6692abed36a525f89b8f315bc76_0.file.sphinxql.tpl.php
instances/example/templates/_smarty/compile/7229a2e1ef39f56d5827ee6219be2991be369449_0.file.500.tpl.php
instances/example/templates/_smarty/compile/7eaf726e092fe5bd27b9984d2a21860c221e7a2e_0.file.smarty_errors.tpl.php
instances/example/templates/_smarty/compile/937c2ac6d35fb68f31105a942d179271e9f0ca1c_0.file.cookies.tpl.php
instances/example/templates/_smarty/compile/9743d379c74dd587b37fc96d89bacdb424bfe7b8_0.file.common.tpl.php
instances/example/templates/_smarty/compile/980524f8fbe5a26b5ed35152ce8b3c5bc5d16dc2_0.file.templates.tpl.php
instances/example/templates/_smarty/compile/99257de2e1a9138aa80747555ff94a28b1b66275_0.file.database.tpl.php
instances/example/templates/_smarty/compile/9b45486823556125f652e58f88529c7f7fbe4301_0.file.redis.tpl.php
instances/example/templates/_smarty/compile/9de0f3c0556e46e69cfc1cdda54a650410baa7a9_0.file.traces.tpl.php
instances/example/templates/_smarty/compile/a3a60e344c746f5bac26f4923030fbe9e695ede3_0.file.post.tpl.php
instances/example/templates/_smarty/compile/a4d779ee2ac93396c6396c3f3c0985f75bfed951_0.file.basic_debug.tpl.php
instances/example/templates/_smarty/compile/aa0a9ffa1d88260ab265e7d04573d82ea9d9ebaa_0.file.mini_debug.tpl.php
instances/example/templates/_smarty/compile/b223cf5c2ffd1fbf4d37ee60735a121377c298c9_0.file.rebuild.tpl.php
instances/example/templates/_smarty/compile/cbbe832aade3d5d7dee84e4da810ad9b0ee84630_0.file.analyzer.tpl.php
instances/example/templates/_smarty/compile/e93a3196b4abec50ed1b74b17b31ecb453c14459_0.file.session.tpl.php
instances/example/templates/_smarty/compile/f25c9e387888fe6a0d1dd23f12b00c51e967353a_0.file.index.tpl.php
instances/example/templates/_smarty/compile/f285c03c55fc5817bb5b1af44b3dfb84a1ffe506_0.file.search.tpl.php
logs/errors_2017-04.log
logs/sifo.sqlite3
